stable-baselines3[extra]
gymnasium>=0.28.1
torch
torchvision
torchaudio
numpy>=1.21.0
pandas
matplotlib>=3.4.0
seaborn
tqdm
opencv-python
jupyterlab
ipykernel
scikit-learn
pyserial>=3.5
